<div class="page animsition">
<div class="page-content">
  <h2>Blank</h2>
  <p>Page content goes here</p>
</div>
</div>

  <script src="styles/global/vendor/animsition/animsition.js"></script>
  <script src="styles/global/vendor/asscroll/jquery-asScroll.js"></script>
  <script src="styles/global/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="styles/global/vendor/asscrollable/jquery.asScrollable.all.js"></script>
  <script src="styles/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
  <script src="styles/global/vendor/waves/waves.js"></script>
  <!-- Plugins -->
  <script src="styles/global/vendor/switchery/switchery.min.js"></script>
  <script src="styles/global/vendor/intro-js/intro.js"></script>
  <script src="styles/global/vendor/screenfull/screenfull.js"></script>
  <script src="styles/global/vendor/slidepanel/jquery-slidePanel.js"></script>
  <!-- Scripts -->
  <script src="styles/global/js/core.js"></script>
  <script src="styles/assets/js/site.js"></script>
  <script src="styles/assets/js/sections/menu.js"></script>
  <script src="styles/assets/js/sections/menubar.js"></script>
  <script src="styles/assets/js/sections/gridmenu.js"></script>
  <script src="styles/assets/js/sections/sidebar.js"></script>
  <script src="styles/global/js/configs/config-colors.js"></script>
  <script src="styles/assets/js/configs/config-tour.js"></script>
  <script src="styles/global/js/components/asscrollable.js"></script>
  <script src="styles/global/js/components/animsition.js"></script>
  <script src="styles/global/js/components/slidepanel.js"></script>
  <script src="styles/global/js/components/switchery.js"></script>
  <script src="styles/global/js/components/tabs.js"></script>
  <script src="styles/assets/examples/js/charts/c3.js"></script>  
  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
      Site.run();
    });
  })(document, window, jQuery);
  </script>